.label {
    -fx-background-color: rgb(233, 217, 255);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-background-radius: 5em 5em 0 5em;
    -fx-border-radius: 5em 5em 0 5em;
}

.reply-label {
    -fx-background-radius: 5em 5em 5em 0;
    -fx-border-radius: 5em 5em 5em 0;
}

#displayPicture {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}